.container{
    max-width: 700px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #1a1a1a;
    border: 1px solid #1a1a1a;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #fff;
}
body{
    background-color:#141414;
}
.inputfield button{
    background-color:  #E50000;
    color: #fff;
    border: none;
    border-radius: 12px;
    padding: 10px;
    font-size: medium;
    font-weight: 500;
    
}
.inputfield input{
    border: none;
    outline: none;
    border-radius: 12px;
}
.container .inputfield{
padding-left: 55px;}

.container div h1{
    text-align: center;
}
input[type="text"]{
    width: 50%;
    padding: 10px;
}
input[type="checkbox"]{
    height: 20px;
    width:20px;

}
input[type="checkbox"]:checked {
    accent-color: green;
    color: black;
}

.task-container ul{
    /* padding-left: 0px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
}
.task-container ul li{
    list-style: none;
    border:2px solid #141414;
    border-radius: 20px;
    width: 100%;  
    padding:  10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
span i{
font-size: 25px;
}
li div{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 15px;
    
}
.ri-delete-bin-line{
    color: #E50000;
}
#edit-btn{
    display: none;
}
.todobtn#nones{
display: none;
}